body {
	padding-top: 100px;
	padding-bottom: 100px;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.navbar-text > a{
	color: inherit;
	text-decoration: none;
}

.panel {
	padding-left: 8px;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
}
